<section class="signup-form">
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input 
      matInput 
      type="email" 
      placeholder="Your email" 
      ngModel 
      name="email"
      email
      required
      #emailInput="ngModel">
      <mat-error *ngIf="emailInput.hasError('required')">Email Must not be Empty</mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">Email Is Invalid</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Password should be 6 Characters">
      <input 
      matInput 
      type="password" 
      placeholder="Your Password" 
      ngModel 
      name="password"
      required
      minlength="6"
      #pwInput="ngModel">
      <mat-hint align="end">{{pwInput.value?.length}}/6</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input 
      matInput 
      placeholder="Your Birth Date" 
      [matDatepicker]="picker"
      [max]="maxDate"
      ngModel
      name="Birth Date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
      <mat-checkbox ngModel name="agree" required>Agreed Terms And Conditions </mat-checkbox> 
     <button mat-raised-button color="primary" type="submit" [disabled]="f.invalid">Submit</button>
  </form>
</section>