<section class="new-training" fxLayout fxLayoutAlign="center">
    <form (ngSubmit)="onStartTrining(f)" #f="ngForm">
      <mat-card fxFlex="400px" fxFlex.xs="100%">
        <mat-card-title fxLayoutAlign="center">
          Time to Start Work outs
        </mat-card-title>
        <mat-card-content fxLayoutAlign="center">
          <mat-form-field>
            <mat-select placeholder="Chosse Excercise" ngModel name="excercise" required>
              <mat-option *ngFor = "let excercise of excercises" [value]="excercise.id ">
                  {{excercise.name}}
              </mat-option>
              
            </mat-select>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="center">
          <button mat-raised-button [disabled]="f.invalid">Submit</button>
        </mat-card-actions>
      </mat-card>
    </form>
</section>