<section class="signup-form">
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input 
        matInput 
        type="email" 
        placeholder="Your email" 
        formControlName="email">
        <mat-hint>Please enter a valid email.</mat-hint>
        <mat-error>Invalid or missing email.</mat-error>
      </mat-form-field>
      <mat-form-field hintLabel="Password should be 6 Characters">
        <input 
        matInput 
        type="password" 
        placeholder="Your Password" 
        formControlName="password">
        <mat-hint>Please enter your password.</mat-hint>
        <mat-error>Missing password.</mat-error>
      </mat-form-field>
     
      <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Submit</button>
    </form>
  </section>