<mat-toolbar color="primary">
    <div fxHide.sm fxHide.md fxHide.lg fxHide.xl>
        <button (click)="onToggleSidenav()" mat-icon-button><mat-icon>menu</mat-icon></button></div>
    <div><a routerLink="/">Logo</a></div>
    <div fxLayout fxFlex fxLayoutAlign="flex-end" fxHide.xs>
        <!-- <div fxFlex></div> -->
        <ul fxLayout fxLayoutGap="10px" class="navigation-items">
            <li><a routerLink="/signup">Sign Up</a></li>
            <li><a routerLink="/login">Login</a></li>
            <li><a routerLink="/training">Training</a></li>
            <li><a>Logout</a></li>

        </ul>
        </div>
        <div>
       

    </div>
</mat-toolbar>